<app-header 
    title="Welcome to Demand Marketing's World" 
    description="Your partner on building amazing webpages and conversion-focused campaigns across RX events and platforms." 
    buttonText="Learn more" 
    buttonLink="https://reedelsevier.sharepoint.com/sites/RX.Pilipinas/SitePages/Home.aspx" 
    bgImage="assets/bgImageIllustrations.jpg">
</app-header>
<app-about-us-section 
    title="About Us" 
    description="The Demand Marketing team is comprised of multi-talented " 
    aboutImage="assets/about-us.jpg">
</app-about-us-section>
<app-what-we-do-section
    title="What We Do">
</app-what-we-do-section>
