<app-header 
    title="Welcome to Demand Marketing's World" 
    description="Your partner on building amazing webpages and conversion-focused campaigns across RX events and platforms." 
    buttonText="Learn more" 
    buttonLink="https://reedelsevier.sharepoint.com/sites/RX.Pilipinas/SitePages/Home.aspx" 
    bgImage="assets/bgImageIllustrations.jpg">
</app-header>
<app-about-us-section 
    title="About Us" 
    description="The Demand Marketing team is comprised of multi-talented and passionate individuals whose common goal is to provide 
    well-planned and well-thought of communication and creatives pieces for our events, along with data and insights to support show teams 
    in making informed decisions. We aim to build and offer compelling stories and unique creatives for our show teams and RX external customers 
    alike to experience our events in distinctive ways every edition." 
    aboutImage="assets/about-us.jpg">
</app-about-us-section>
<app-what-we-do-section
    title="What We Do">
</app-what-we-do-section>
